body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.carousel-item {
  position: absolute;
  /* Posiciona todos los elementos absolutamente dentro del carrusel */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Ocupa el 100% del alto del contenedor padre */
  opacity: 0;
  /* Oculto por defecto */
  transition: opacity 1s ease-in-out;
  /* Transición suave de 1 segundo para la opacidad */
  z-index: 0;
}

.carousel-item.active {
  opacity: 1;
  /* Totalmente visible */
  z-index: 1;
  /* Trae la imagen activa al frente */
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

.fade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
  linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
  linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  pointer-events: none;
  /* Permite hacer clic en la imagen subyacente */
}  

#btn-banner {
  background: #76ABAE;
  color: black;
}

@media (width < 40rem) {
  #carousel {
    height: 40rem;
  }

  .fade-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }

  #info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 2000px) {
  #carousel {
    height: 70em;
  }

  #info {
    top: 18rem;
    font-size: larger;
  }
}